<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="CreateNewNuGetPackageFromProjectAfterEachBuild" version="1.7.3" targetFramework="net45" developmentDependency="true" />
  <package id="HangFire.Core" version="0.7.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net45" />
  <package id="SimpleInjector" version="2.5.0" targetFramework="net45" />
</packages>